.counter {
    background-color: var(--color-accent);
    width: 100%;
    max-width: 1140px;
    height: auto;
    top: -80px;
    position: relative;
    z-index: 999;
}

@media (max-width: 1024px) {
    .counter {
        max-width: 970;
        margin: 0 auto;
    }
}

@media (max-width: 399px) {
    .counter {
        max-width: 375;
        margin: 0 auto;
    }
}

.counter__inner {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.counter__text {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}

.counter__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
}

@media (max-width: 399px) {
    .counter__items {
        flex-wrap: wrap;
    }
}

.counter__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 30px;

}

.counter__number {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
}

.counter__label {
    text-transform: uppercase;
    font-size: 13px;
}
