*, *::after, *::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #535353;
    --color-accent: #1fe8cd;;
    --color-light: #f5f5f5;
}

body {
    font-size: 13px;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

